@{
    ViewData["Title"] = "Esqueceu sua senha?";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <label for="email">E-mail:</label>
    <input type="text" name="email" /><br />

    <input type="button" value="Resgatar" onclick="location.href= '/Home/Login'"/>
</div>
