@{
    ViewData["Title"] = "Nossos termos";
}
<h1>@ViewData["Title"]</h1>

<p>The Service allows you to discover, watch and share videos and other content, provides a forum for people to connect, inform, and inspire others across the globe, and acts as a distribution platform for original content creators and advertisers large and small. We provide lots of information about our products and how to use them in our Help Center. Among other things, you can find out about YouTube Kids, the YouTube Partner Program and YouTube Paid Memberships and Purchases (where available). You can also read all about enjoying content on other devices like your television, your games console, or Google Home.</p>
