@{
    ViewData["Title"] = "Ajuda";
}
<h1>@ViewData["Title"]</h1>

<p>Suporte técnico é um serviço que presta assistência intelectual (conhecimentos), tecnológica (manutenção: revisões, regulagens, calibrações, reparos/consertos, atualizações de software etc.) e material (peças de reposição) a um cliente ou grupo de clientes (uma ou mais pessoas, físicas e/ou jurídicas), com o fim de solucionar problemas técnicos, portanto relacionados a produtos tecnológicos tais como telefones celulares, televisões, aparelhos de som, computadores e software[1]. De maneira geral, o foco do serviço é ajudar o cliente a resolver problemas específicos de um produto, ao invés de fornecer treinamento, personalização ou qualquer outro serviço de suporte.</p>
